<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="photos/Probability-In-Quantum-Mechanics_QBS_Featured.jpg" 
                      cardTitle="Schrodinger's cat" 
                      cardDescription="This is a probabilistic theory"
                      Id="4">
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card photoCover="photos/1.jpg" cardTitle="Spaceship 1" Id="1"></app-small-card>
        <app-small-card photoCover="photos/2.jpg" cardTitle="Spaceship 2" Id="2"></app-small-card>
        <app-small-card photoCover="photos/3.png" cardTitle="Spaceship 3" Id="3"></app-small-card>
    </div>
</div>
